---
  nuc-01:
    uuid: "00000000-0000-0000-0000-000000000001"
    driver_info:
      power:
        amt_address: "192.168.2.5"    
        amt_password: "NucNuc123!"
    nics:
      -
        mac: "B8:AE:ED:74:0D:12"
    driver: "agent_amttool"
    ipv4_address: "192.168.2.5"
    ipv4_gateway: 192.168.2.1
    ipv4_subnet_mask: 255.255.255.0
    ipv4_nameserver: 8.8.8.8
    properties:
      cpu_arch: "x86_64"
      ram: "16384"
      disk_size: "230"
      cpus: "1"
    name: "nuc-01"
  nuc-02:
    uuid: "00000000-0000-0000-0000-000000000002"
    driver_info:
      power:
        amt_address: "192.168.2.6"
        amt_password: "NucNuc123!"
    nics:
      -
        mac: "B8:AE:ED:74:08:89"
    driver: "agent_amttool"
    ipv4_address: "192.168.2.6"
    ipv4_gateway: 192.168.2.1
    ipv4_subnet_mask: 255.255.255.0
    ipv4_nameserver: 8.8.8.8
    properties:
      cpu_arch: "x86_64"
      ram: "16384"
      disk_size: "230"
      cpus: "1"
    name: "nuc-02"
  nuc-03:
    uuid: "00000000-0000-0000-0000-000000000003"
    driver_info:
      power:
        amt_address: "192.168.2.7"
        amt_password: "NucNuc123!"
    nics:
      -
        mac: "B8:AE:ED:75:58:75"
    driver: "agent_amttool"
    ipv4_address: "192.168.2.7"
    ipv4_gateway: 192.168.2.1
    ipv4_subnet_mask: 255.255.255.0
    ipv4_nameserver: 8.8.8.8
    properties:
      cpu_arch: "x86_64"
      ram: "16384"
      disk_size: "230"
      cpus: "1"
    name: "nuc-03"
  nuc-04:
    uuid: "00000000-0000-0000-0000-000000000004"
    driver_info:
      power:
        amt_address: "192.168.2.8"
        amt_password: "NucNuc123!"
    nics:
      -
        mac: "B8:AE:ED:74:0B:FC"
    driver: "agent_amttool"
    ipv4_address: "192.168.2.8"
    ipv4_gateway: 192.168.2.1
    ipv4_subnet_mask: 255.255.255.0
    ipv4_nameserver: 8.8.8.8
    properties:
      cpu_arch: "x86_64"
      ram: "16384"
      disk_size: "230"
      cpus: "1"
    name: "nuc-04"
  nuc-05:
    uuid: "00000000-0000-0000-0000-000000000005"
    driver_info:
      power:
        amt_address: "192.168.2.9" 
        amt_password: "NucNuc123!"
    nics:
      -
        mac: "B8:AE:ED:73:F8:EA"
    driver: "agent_amttool"
    ipv4_address: "192.168.2.9"
    ipv4_gateway: 192.168.2.1
    ipv4_subnet_mask: 255.255.255.0
    ipv4_nameserver: 8.8.8.8
    properties:
      cpu_arch: "x86_64"
      ram: "16384"
      disk_size: "230"
      cpus: "1"
    name: "nuc-05"
  nuc-06:
    uuid: "00000000-0000-0000-0000-000000000006"
    driver_info:
      power:
        amt_address: "192.168.2.10"  
        amt_password: "NucNuc123!"
    nics:
      -
        mac: "B8:AE:ED:74:09:64"
    driver: "agent_amttool"
    ipv4_address: "192.168.2.10"
    ipv4_gateway: 192.168.2.1
    ipv4_subnet_mask: 255.255.255.0
    ipv4_nameserver: 8.8.8.8
    properties:
      cpu_arch: "x86_64"
      ram: "16384"
      disk_size: "230"
      cpus: "1"
    name: "nuc-06"
  nuc-07:
    uuid: "00000000-0000-0000-0000-000000000007"
    driver_info:
      power:
        amt_address: "192.168.2.11" 
        amt_password: "NucNuc123!"
    nics:
      -
        mac: "B8:AE:ED:73:F1:9D"
    driver: "agent_amttool"
    ipv4_address: "192.168.2.11"
    ipv4_gateway: 192.168.2.1
    ipv4_subnet_mask: 255.255.255.0
    ipv4_nameserver: 8.8.8.8
    properties:
      cpu_arch: "x86_64"
      ram: "16384"
      disk_size: "230"
      cpus: "1"
    name: "nuc-07"
  nuc-08:
    uuid: "00000000-0000-0000-0000-000000000008"
    driver_info:
      power:
        amt_address: "192.168.2.12" 
        amt_password: "NucNuc123!"
    nics:
      -
        mac: "B8:AE:ED:74:0A:0D"
    driver: "agent_amttool"
    ipv4_address: "192.168.2.12"
    ipv4_gateway: 192.168.2.1
    ipv4_subnet_mask: 255.255.255.0
    ipv4_nameserver: 8.8.8.8
    properties:
      cpu_arch: "x86_64"
      ram: "16384"
      disk_size: "230"
      cpus: "1"
    name: "nuc-08"
  nuc-09:
    uuid: "00000000-0000-0000-0000-000000000009"
    driver_info:
      power:
        amt_address: "192.168.2.13" 
        amt_password: "NucNuc123!"
    nics:
      -
        mac: "B8:AE:ED:73:D9:AD"
    driver: "agent_amttool"
    ipv4_address: "192.168.2.13"
    ipv4_gateway: 192.168.2.1
    ipv4_subnet_mask: 255.255.255.0
    ipv4_nameserver: 8.8.8.8
    properties:
      cpu_arch: "x86_64"
      ram: "16384"
      disk_size: "230"
      cpus: "1"
    name: "nuc-09"
  nuc-10:
    uuid: "00000000-0000-0000-0000-000000000010"
    driver_info:
      power:
        amt_address: "192.168.2.14" 
        amt_password: "NucNuc123!"
    nics:
      -
        mac: "B8:AE:ED:75:93:C9"
    driver: "agent_amttool"
    ipv4_address: "192.168.2.14"
    ipv4_gateway: 192.168.2.1
    ipv4_subnet_mask: 255.255.255.0
    ipv4_nameserver: 8.8.8.8
    properties:
      cpu_arch: "x86_64"
      ram: "16384"
      disk_size: "230"
      cpus: "1"
    name: "nuc-10"
  nuc-11:
    uuid: "00000000-0000-0000-0000-000000000011"
    driver_info:
      power:
        amt_address: "192.168.2.15"
        amt_password: "NucNuc123!"
    nics:
      -
        mac: "B5:AE:ED:75:58:DB"
    driver: "agent_amttool"
    ipv4_address: "192.168.2.15"
    ipv4_gateway: 192.168.2.1
    ipv4_subnet_mask: 255.255.255.0
    ipv4_nameserver: 8.8.8.8
    properties:
      cpu_arch: "x86_64"
      ram: "16384"
      disk_size: "230"
      cpus: "1"
    name: "nuc-11"
  nuc-12:
    uuid: "00000000-0000-0000-0000-000000000012"
    driver_info:
      power:
        amt_address: "192.168.2.16"  
        amt_password: "NucNuc123!"
    nics:
      -
        mac: "B8:AE:ED:75:93:EE"
    driver: "agent_amttool"
    ipv4_address: "192.168.2.16"
    ipv4_gateway: 192.168.2.1
    ipv4_subnet_mask: 255.255.255.0
    ipv4_nameserver: 8.8.8.8
    properties:
      cpu_arch: "x86_64"
      ram: "16384"
      disk_size: "230"
      cpus: "1"
    name: "nuc-12"
  nuc-13:
    uuid: "00000000-0000-0000-0000-000000000013"
    driver_info:
      power:
        amt_address: "192.168.2.17"  
        amt_password: "NucNuc123!"
    nics:
      -
        mac: "B8:AE:ED:73:E7:E8"
    driver: "agent_amttool"
    ipv4_address: "192.168.2.17"
    ipv4_gateway: 192.168.2.1
    ipv4_subnet_mask: 255.255.255.0
    ipv4_nameserver: 8.8.8.8
    properties:
      cpu_arch: "x86_64"
      ram: "16384"
      disk_size: "230"
      cpus: "1"
    name: "nuc-13"
  nuc-14:
    uuid: "00000000-0000-0000-0000-000000000014"
    driver_info:
      power:
        amt_address: "192.168.2.18"  
        amt_password: "NucNuc123!"
    nics:
      -
        mac: "B8:AE:ED:73:DC:2F"
    driver: "agent_amttool"
    ipv4_address: "192.168.2.18"
    ipv4_gateway: 192.168.2.1
    ipv4_subnet_mask: 255.255.255.0
    ipv4_nameserver: 8.8.8.8
    properties:
      cpu_arch: "x86_64"
      ram: "16384"
      disk_size: "230"
      cpus: "1"
    name: "nuc-14"
  nuc-15:
    uuid: "00000000-0000-0000-0000-000000000015"
    driver_info:
      power:
        amt_address: "192.168.2.19"
        amt_password: "NucNuc123!"
    nics:
      -
        mac: "B8:AE:ED:75:59:3C"
    driver: "agent_amttool"
    ipv4_address: "192.168.2.19"
    ipv4_gateway: 192.168.2.1
    ipv4_subnet_mask: 255.255.255.0
    ipv4_nameserver: 8.8.8.8
    properties:
      cpu_arch: "x86_64"
      ram: "16384"
      disk_size: "230"
      cpus: "1"
    name: "nuc-15"
  nuc-16:
    uuid: "00000000-0000-0000-0000-000000000016"
    driver_info:
      power:
        amt_address: "192.168.2.20"
        amt_password: "NucNuc123!"
    nics:
      -
        mac: "B8:AE:ED:75:58:D3"
    driver: "agent_amttool"
    ipv4_address: "192.168.2.20"
    ipv4_gateway: 192.168.2.1
    ipv4_subnet_mask: 255.255.255.0
    ipv4_nameserver: 8.8.8.8
    properties:
      cpu_arch: "x86_64"
      ram: "16384"
      disk_size: "230"
      cpus: "1"
    name: "nuc-16"
  nuc-17:
    uuid: "00000000-0000-0000-0000-000000000017"
    driver_info:
      power:
        amt_address: "192.168.2.21" 
        amt_password: "NucNuc123!"
    nics:
      -
        mac: "B8:AE:ED:75:56:FE"
    driver: "agent_amttool"
    ipv4_address: "192.168.2.21"
    ipv4_gateway: 192.168.2.1
    ipv4_subnet_mask: 255.255.255.0
    ipv4_nameserver: 8.8.8.8
    properties:
      cpu_arch: "x86_64"
      ram: "16384"
      disk_size: "230"
      cpus: "1"
    name: "nuc-17"
  nuc-18:
    uuid: "00000000-0000-0000-0000-000000000018"
    driver_info:
      power:
        amt_address: "192.168.2.22" 
        amt_password: "NucNuc123!"
    nics:
      -
        mac: "B8:AE:ED:74:09:89"
    driver: "agent_amttool"
    ipv4_address: "192.168.2.22"
    ipv4_gateway: 192.168.2.1
    ipv4_subnet_mask: 255.255.255.0
    ipv4_nameserver: 8.8.8.8
    properties:
      cpu_arch: "x86_64"
      ram: "16384"
      disk_size: "230"
      cpus: "1"
    name: "nuc-18"
  nuc-19:
    uuid: "00000000-0000-0000-0000-000000000019"
    driver_info:
      power:
        amt_address: "192.168.2.23" 
        amt_password: "NucNuc123!"
    nics:
      -
        mac: "B8:AE:ED:75:96:19"
    driver: "agent_amttool"
    ipv4_address: "192.168.2.23"
    ipv4_gateway: 192.168.2.1
    ipv4_subnet_mask: 255.255.255.0
    ipv4_nameserver: 8.8.8.8
    properties:
      cpu_arch: "x86_64"
      ram: "16384"
      disk_size: "230"
      cpus: "1"
    name: "nuc-19"
  nuc-20:
    uuid: "00000000-0000-0000-0000-000000000020"
    driver_info:
      power:
        amt_address: "192.168.2.24" 
        amt_password: "NucNuc123!"
    nics:
      -
        mac: "B8:AE:ED:73:FC:A0"
    driver: "agent_amttool"
    ipv4_address: "192.168.2.24"
    ipv4_gateway: 192.168.2.1
    ipv4_subnet_mask: 255.255.255.0
    ipv4_nameserver: 8.8.8.8
    properties:
      cpu_arch: "x86_64"
      ram: "16384"
      disk_size: "230"
      cpus: "1"
    name: "nuc-20"
  nuc-21:
    uuid: "00000000-0000-0000-0000-000000000021"
    driver_info:
      power:
        amt_address: "192.168.2.25" 
        amt_password: "NucNuc123!"
    nics:
      -
        mac: "B8:AE:ED:75:58:C3"
    driver: "agent_amttool"
    ipv4_address: "192.168.2.25"
    ipv4_gateway: 192.168.2.1
    ipv4_subnet_mask: 255.255.255.0
    ipv4_nameserver: 8.8.8.8
    properties:
      cpu_arch: "x86_64"
      ram: "16384"
      disk_size: "230"
      cpus: "1"
    name: "nuc-21"
  nuc-22:
    uuid: "00000000-0000-0000-0000-000000000022"
    driver_info:
      power:
        amt_address: "192.168.2.26" 
        amt_password: "NucNuc123!"
    nics:
      -
        mac: "B8:AE:ED:74:07:CC"
    driver: "agent_amttool"
    ipv4_address: "192.168.2.26"
    ipv4_gateway: 192.168.2.1
    ipv4_subnet_mask: 255.255.255.0
    ipv4_nameserver: 8.8.8.8
    properties:
      cpu_arch: "x86_64"
      ram: "16384"
      disk_size: "230"
      cpus: "1"
    name: "nuc-22"
  